
body {
  text-align: center;
  background-color: #999999;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* vh stands for viewport height */
}
.form_main {
  min-width: 70%;
  display: inline-block;
  gap: 10px;
  padding-top: 3em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-bottom: 2.1em;
  border: 2px dashed #DAA06D;
  border-radius: 15px;
  background-color: #EADDCA;
  box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
}


.heading {
  font-size: 50px;
  color: #8d7045;
  font-weight: 500;
  margin: 5px 0 20px 0;
  font-family: "Caveat", cursive;
}

.subtitle {
  font-size: 12px;
  color: #8d7045;
  margin: 5px 0 30px 0;
  font-family: "Comfortaa", sans-serif;
}


.button-yes {
  padding: 0.1em 0.25em;
  width: 11.7em;
  height: 4.4em;
  background-color: #8b733d;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
  margin-right: 30px;
}

.button-yes .yesButton {
  font-family: "Comfortaa", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 7.25em;
  height: 2.5em;
  background-color: #8b733d;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  text-decoration: none;
}

.button-yes .yesButton:hover {
  transition: all 0.3s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.button-yes .yesButton:not(hover) {
  transition: all 0.5s;
}

.button-no {
  padding: 0.1em 0.25em;
  width: 11.7em;
  height: 4.4em;
  background-color: #8b733d;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}

.button-no .noButton {
  font-family: "Comfortaa", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 7.25em;
  height: 2.5em;
  background-color: #8b733d;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  text-decoration: none;
}

.button-no .noButton:hover {
  transition: all 0.3s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.button-no .noButton:not(hover) {
  transition: all 0.5s;
}

.heading-exit {
  font-size: 80px;
  color: #2e2e2e;
  font-weight: bolder;
  font-family: "Honk", system-ui;
}

.form_exit {
  min-width: 50%;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 43, 43);
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  margin-left: auto;
  margin-right: auto;
}

.subtitle-exit {
  font-size: 15px;
  color: #999999;
  margin: 40px 0 5px 0;
  font-family: "Comfortaa", sans-serif;
}

.link-exit {
  color: rgb(245, 216, 50);
  text-decoration: none;
}

.link-exit:hover {
  color: rgb(206, 255, 127);
}


.form_choices {
  min-width: 70%;
  display: inline-block;
  gap: 10px;
  padding-top: 3em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-bottom: 2.1em;
  border: 2px dashed #DAA06D;
  border-radius: 15px;
  background-color: #EADDCA;
  box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
}

.where {
  font-size: 30px;
  color: #8d7045;
  font-weight: 500;
  margin: 0px 0 20px 0;
  font-family: "Caveat", cursive;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 10px;
  min-width: 150px;
  max-width: 180px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: rgb(221, 205, 184);
  font-family: "Caveat", cursive;
  text-align: left;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: #8f7847 dotted;
}

.content {
  margin-top: 1rem;
}

.content .header {
  margin-top: 0.5rem;
}

.image {
  min-width: 90%;
  max-width: 90%;
  height: 130px;
  border-radius: 4px;
  padding: 9px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image1 {
  background-image: url(img/bgc.jpg);
}

.image2 {
  background-image: url(img/beach.jpg);
}

.image3 {
  background-image: url(img/mountain.jpg);
}

.tag {
  text-transform: capitalize;
  background-color: rgba(128, 82, 29, 0.514);
  padding: 2px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
}

.block {
  text-decoration: none;
}

.title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 14px;
  color: #8f7847;
  text-align: center;
}

.description {
  font-size: 10px;
}